.row {
    width: 100% !important;
    padding: 0;
    margin: 0;
}

.divider {
    width: 90%;
    height: 1px;
    background-color: #fff;
}

h3 {
    font-weight: 600 !important;
}








/* animations */
.animate {
    opacity: 0;
    transition: opacity 1s, transform 1s;
}

.fadeLeft.animate {
    transform: translateX(-60px);
}

.fadeRight.animate {
    transform: translateX(60px);
}

.fadeInUp.animate {
    transform: translateY(60px);
}

.fadeInDown.animate {
    transform: translateY(-60px);
}

.animate.fade-in {
    opacity: 1;
    transform: translate(0, 0);
}

/* animations */










/* width */
::-webkit-scrollbar {
    width: 8px;
    padding: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0);
    border-radius: 10px;
}


/* Handle */
::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
}










/* css for header part  */

.header_top_strip {
    color: #fff;
    background-color: #000;
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header_top_strip a {
    color: #fff;
    text-decoration: none;
}

.header {
    background-color: #ffffff;
    width: 100%;
    height: max-content;
    position: fixed;
    padding-left: 0%;
    padding-right: 0%;
    box-shadow: 0px 11px 20px 6px #00000063;
    z-index: 10;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.navbar {
    padding-left: 5% !important;
    padding-right: 5% !important;
}

.header_col1 {
    display: flex;
    align-items: center;
    justify-content: start;
}

.header_col1 img {
    width: 30%;
}

.header_col2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header_col2 a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.header_col3 {
    display: flex;
    align-items: center;
    justify-content: end;
}

.header_col3 a {
    color: #000;
    font-size: 200%;
}

.mobile_menu {
    width: 100%;
    height: max-content;
    display: none;
}

.mobile_menu a {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
}

.mobile_menu li {
    list-style-type: none;
    padding-bottom: 10px;
}

@media (max-width: 768px) {
    .header_top_strip {
        display: none;
    }

    .header_col2 {
        display: none;
    }

    .header_col1 img {
        width: 50%;
    }
}

@media (min-width: 769px) {
    .header_col3 {
        display: none;
    }
}


@media (max-width: 450px) {
    .header_col1 img {
        width: 90%;
    }
}





/* HOME PAGE ***************************************************************************/


.hero {
    width: 100%;
    height: max-content;
    overflow: hidden;
}

.hero img {
    width: 100%;
    /* height: 100vh; */
    /* min-width: 100%; */
    position: relative;
    /* padding-top: 5rem; */
}

.hero_img_md,
.hero_img_sm {
    display: none;
}

/* For medium screens (e.g., tablets) */
@media (max-width: 992px) {
    .hero_img_lg {
        display: none;
        padding-top: 3rem;
    }

    .hero_img_md {
        display: block;
    }
}

/* For small screens (e.g., mobile devices) */
@media (max-width: 576px) {
    .hero_img_md {
        display: none;
    }

    .hero_img_sm {
        display: block;
    }
}

.hero_content {
    width: 100%;
    position: absolute;
    top: 0rem;
    padding-top: 15%;
    padding-bottom: 20%;
    padding-left: 10%;
    padding-right: 40%;
}

.hero_content h2 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 200 !important;
    font-size: 300%;
    text-shadow: 6px 6px 3px #000;
}

.hero_content p {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
}

.buyNow_button_white {
    background-color: #00000000;
    border: 1px solid #fff;
    border-radius: 2rem;
    padding: 1rem 4rem;
    color: #fff;
}

.buyNow_button_red {
    background-color: #00000000;
    border: 1px solid #ff0000;
    border-radius: 2rem;
    padding: 1rem 4rem;
    color: #ff0000;
}


.BuyNowButton_1 {
    /* margin-top: 1rem; */
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 1rem;
    padding-inline: 2rem;
    background-color: #F30301;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
    cursor: pointer;
}

.BuyNowButton_1:hover {
    transform: scale(1.05);
    border-color: #f3010144;
    color: #F30301;
    background-color: #fff;
}

.BuyNowButton_1:hover .icon {
    transform: translate(4px);
}

.BuyNowButton_1:hover::before {
    animation: shine 1.5s ease-out infinite;
}

.BuyNowButton_1::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: -100px;
    opacity: 0.6;
}

@media (max-width: 576px) {
    .BuyNowButton_1 {
        margin-bottom: 1rem !important;
    }

    .hero_content h2 {
        color: #fff;
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-size: 300%;
        text-shadow: 0px 0px 5px #000;
    }
}

@keyframes shine {
    0% {
        left: -100px;
    }

    60% {
        left: 100%;
    }

    to {
        left: 100%;
    }
}






.BuyNowButton_2 {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 1rem;
    padding-inline: 2rem;
    background-color: #f3010100;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F30301;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #F30301;
    outline: none;
    overflow: hidden;
    font-size: 15px;
    cursor: pointer;
}

.BuyNowButton_2:hover {
    transform: scale(1.05);
    border-color: #f3010144;
    color: #fff;
    background-color: #F30301;
}

.BuyNowButton_2:hover .icon {
    transform: translate(4px);
}

.BuyNowButton_2:hover::before {
    animation: shine 1.5s ease-out infinite;
}

.BuyNowButton_2::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: -100px;
    opacity: 0.6;
}

@keyframes shine {
    0% {
        left: -100px;
    }

    60% {
        left: 100%;
    }

    to {
        left: 100%;
    }
}






.hero_actions a {
    color: #fff;
    margin-left: 20px;
    font-size: 170%;
    text-shadow: 5px 5px 3px #000000;
}

@media (min-width: 768px) {
    .hero_actions a {
        display: none;
    }

}

@media (max-width: 1250px) {
    .hero_content h2 {
        font-size: 200% !important;
    }
}

@media (max-width: 768px) {
    .hero_content h2 {
        font-size: 150% !important;
    }

    .hero_content {
        padding-top: 15%;
        padding-bottom: 20%;
        padding-left: 20%;
        padding-right: 20%;
    }

    .hero_actions button {
        margin-bottom: 10px;
    }
}

@media (max-width: 583px) {
    .hero_actions button {
        padding: 0.5rem 3rem;
    }

    .hero_content h2 {
        font-size: 250% !important;
    }

    .hero_content {
        padding-top: 35%;
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (max-width: 500px) {
    .hero_content {
        padding-top: 35%;
    }

    .hero img {
        width: 130%;
    }
}

@media (max-width: 374px) {
    .hero img {
        width: 160%;
    }

    .hero_content {
        padding-top: 40%;
    }
}

@media (max-width: 350px) {
    .hero img {
        width: 200%;
    }

    .hero_actions button {
        width: 100%;
        margin-bottom: 15px;
    }
}



@media (max-width: 320px) {
    .hero img {
        width: 250%;
    }
}

@media (max-width: 250px) {
    .hero img {
        width: 400%;
    }
}



.home_offers {
    width: 100% !important;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0%;
    /* overflow: hidden; */

}


.home_offers_col {
    width: 100%;
    position: relative;
}

.home_offers img {
    width: 100%;
    margin-bottom: 1rem;
    transition: transform 0.8s ease;
    overflow: hidden;
    box-shadow: #000000b8 6px 6px 20px 0px;
    border-radius: 10px;
}

.home_offers img:hover {
    transform: scale(1.05);
}

.home_offers p {
    width: 80%;
    color: #fff;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.home_offers a {
    color: #fff;
}

.home_about {
    width: 100% !important;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-image: url(img/abou_bg.webp);
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    overflow: hidden;
}

.home_about img {
    width: 100%;
    margin-bottom: 1rem;
    filter: drop-shadow(10px 10px 8px rgba(0, 0, 0, 0.507));
    /* Shape-following shadow */
}

.home_about p {
    text-align: justify;
}

@media (min-width: 1200px) {
    .home_about p {
        padding-right: 12rem;
    }

    .home_offers p {
        width: 80%;
        color: #fff;
        position: absolute;
        bottom: 30px;
        left: 30px;
    }
}

@media (max-width: 600px) {

    .home_offers p {
        width: 85%;
        color: #fff;
        font-size: 80%;
        position: absolute;
        bottom: 20px;
        left: 30px;
    }
}

@media (max-width: 576px) {

    .home_offers {
        display: none;
    }
}

@media (max-width: 380px) {

    .home_offers p {
        width: 80%;
        color: #fff;
        font-size: 80%;
        line-height: 110%;
        position: absolute;
        bottom: 10px;
        left: 30px;
    }
}

@media (max-width: 320px) {

    .home_offers p {
        width: 80%;
        color: #fff;
        font-size: 70%;
        line-height: 110%;
        position: absolute;
        bottom: 10px;
        left: 30px;
    }
}



.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
    position: relative;
}

.mySlides img {
    width: 100%;
}

.mySlides p {
    width: 85%;
    color: #fff;
    font-size: 80%;
    position: absolute;
    bottom: 20px;
    left: 30px;
}

.mySlides a {
    color: #fff;
}

@media (max-width: 380px) {

    .mySlides p {
        width: 80%;
        color: #fff;
        font-size: 80%;
        line-height: 110%;
        position: absolute;
        bottom: 10px;
        left: 30px;
    }
}

@media (max-width: 320px) {

    .mySlides p {
        width: 80%;
        color: #fff;
        font-size: 70%;
        line-height: 110%;
        position: absolute;
        bottom: 10px;
        left: 30px;
    }
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media (min-width: 577px) {

    .home_offers_sm {
        display: none;
    }
}











.home_products {
    width: 100%;
    height: max-content;
    background-image: url(img/product_bg.webp);
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    overflow: hidden;
    background-color: #449E48;
}

.home_products h3 {
    color: #fff;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.home_products img {
    width: 100%;
    transition: transform 0.6s ease;
}

.home_products img:hover {
    transform: scale(1.07);
}

.home_product_listing {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: center;
    justify-content: center;

}

.product_card {
    width: 100%;
    height: max-content;
    border-radius: 1rem;
    border: 2px solid #fff;
    padding: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}

.product_card_description {
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product_card_description p {
    line-height: 100%;
    text-align: center;
}

.product_card_description_name {
    font-weight: 700;
}

.product_card_description_star {
    color: #449E48;
}

.product_card_description_price {
    font-size: 150%;
}

.highlighted_price {
    font-weight: 700;
}

.striked_price {
    text-decoration: line-through;
    color: #ff0000;
}

@media (max-width: 768px) {
    .home_product_listing {
        padding-left: 2%;
        padding-right: 2%;
    }
}

.striked_price i {
    font-size: 90%;
}

.striked_price {
    font-size: 70%;
}





.category_selection {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.category_button {

    padding: 0.5rem 1rem;
    border: 2px solid #fff;
    border-radius: 20px;
    background-color: #449E48;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category_button.active,
.category_button:hover {
    background-color: #fff;
    color: #449E48;
}

@media (max-width: 768px) {
    .category_selection {
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
    }

    .category_button {
        width: 80%;
    }
}








.beef_benefits {
    width: 100%;
    height: max-content;
    background: linear-gradient(to bottom, #FFE134, #ffffff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.beef_benefits img {
    width: 100%;
}

.beef_benefits_banner_lg {
    width: 80% !important;
    display: none;
}

.beef_benefits_banner_sm {
    display: none;
}

.beef_benefits_text {
    padding: 20px;
}

.beef_benefits_text h5 {
    font-weight: 700;
}

@media (max-width: 769px) {
    .beef_benefits_banner_sm {
        display: block;
    }
}

@media (min-width: 769px) {
    .beef_benefits_banner_lg {
        width: 80% !important;
        display: block;
    }

    .beef_benefits_text {
        display: none;
    }
}







.top_selling_products {
    width: 100%;
    height: max-content;
    padding-top: 20px;
    background: linear-gradient(to bottom, #ffffff, #FFE134);
}

.top_selling_products h3 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.top_selling_product_listing {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: center;
    justify-content: center;
}

.top_selling_product_listing_col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 30px;
}

.top_selling_product_listing_col h6 {
    padding-top: 25px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
    filter: drop-shadow(10px 10px 8px rgba(0, 0, 0, 0.507));
}

.top_selling_product_listing_col img {
    width: 100%;
    filter: drop-shadow(10px 10px 8px rgba(0, 0, 0, 0.788));
}

@media (min-width: 768px) {
    .top_selling_product_listing {
        padding-left: 2%;
        padding-right: 2%;
    }
}








.benefits_of_baffallo_meat {
    width: 100%;
    height: max-content;
    background-image: url(img/product_bg.webp);
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    overflow: hidden;
    background-color: #000;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
}

.beef_benefit_cards {
    display: flex;
    justify-content: center;
    justify-content: center;
}

.benefits_of_baffallo_meat_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
}

.benefits_of_baffallo_meat h3 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.benefits_of_baffallo_meat p {
    color: #fff;
    text-align: center;
}

.beef_benefit_card {
    border: 2px solid #fff;
    padding: 5%;
    border-radius: 20px;
    margin-bottom: 10px;
    transition: 0.8s ease;
    height: 100%;
}

.beef_benefit_card h5 {
    color: #fff;
    text-align: justify;
    padding-bottom: 20px;
}

.beef_benefit_card p {
    color: #fff;
    text-align: justify;
    font-weight: 400 !important;
}

.beef_benefit_card:hover {
    background-color: #fff;
}

.beef_benefit_card:hover.beef_benefit_card h5 {
    color: #000000;
}

.beef_benefit_card:hover.beef_benefit_card p {
    color: #000000;
    font-weight: 400 !important;
}

@media (max-width: 768px) {
    .benefits_of_baffallo_meat {
        padding-left: 5%;
        padding-right: 5%;
    }
}




.team {
    width: 100%;
    height: max-content;
    background-image: url(img/team_bg.webp);
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    overflow: hidden;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 50px;
    padding-bottom: 40px;
}

.team h3 {
    text-align: center;
    padding-bottom: 50px;
}

.team_listing {

    display: flex;
    justify-content: center;
    justify-content: center;
}

.team_card {
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 10px;
    border: 1px solid #449E48;
    border-radius: 25px;
}

.team_card img {
    width: 100%;
    border-radius: 25px;
}

.name_tag {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    line-height: 50%;
    text-align: center;
    background-color: #449E48;
    color: #fff;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.name_tag p {
    transition: 0.4s ease;
}

@media (min-width: 768px) {
    .name_tag p {
        scale: 0;
    }

    .team_card:hover .name_tag p {
        scale: 1;
    }
}


@media (max-width: 768px) {
    .team {
        padding-left: 2%;
        padding-right: 2%;
    }
}










.contact_form {
    background-image: url(img/form_bg.webp);
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    overflow: hidden;
    width: 100%;
    height: max-content;
    color: #fff;
    text-align: center;
}

.contact_form h3 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.form_input_container {
    display: flex;
    justify-content: center;
    justify-content: center;
}

.contact_form form {
    padding-left: 20%;
    padding-right: 20%;
}

.contact_form img {
    width: 100%;
}

.contact_form_col input {
    width: 100%;
    background-color: #00000000;
    outline: none;
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
    color: #fff;
}

.contact_form_col textarea {
    width: 100%;
    background-color: #00000000;
    outline: none;
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
    color: #fff;
}


@media (max-width: 768px) {
    .contact_form form {
        padding-left: 2%;
        padding-right: 2%;
    }
}






.footer {
    width: 100%;
    height: max-content;
    background-color: #000;
    color: #ffffff;
    padding-bottom: 10px;
}

footer img {
    width: 100%;
}

.footer_items {
    width: 100%;
    height: max-content;
    padding-left: 10%;
    padding-right: 10%;
}

.footer_items_col img {
    width: 80%;
}

.footer_items_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px !important;
}


.footer_items_col h6 {
    text-decoration: underline 4px #BEB996;
}

.footer_items_col a {
    text-decoration: none;
    color: #fff;
}

.footer_items_col4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0px !important;
}


.footer_strip {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

.footer_strip a {
    color: #fff;
    text-decoration: none;
    line-height: 0%;
}

.footer_strip p {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .footer_strip {
        flex-direction: column;
    }

    .footer_items {
        width: 100%;
        height: max-content;
        padding-left: 10%;
        padding-right: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .footer_items_col4 {
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }
}



















.sub_hero_title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20%;
    padding-bottom: 10%;
    color: #fff;
    background-image: url(img/beef_banner.webp);
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    overflow: hidden;
}

.hero_sub {
    width: 100%;
    height: max-content;
    overflow: hidden;
    position: relative;
}

.breadcrumbs {
    width: 100%;
    position: absolute;
    bottom: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.breadcrumbs p {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

@media (max-width: 768px) {
    .breadcrumbs p {
        font-size: 50%;
    }
}

@media (max-width: 450px) {
    .sub_hero_title {
        padding-top: 35%;
    }
}

@media (max-width: 250px) {
    .breadcrumbs {
        flex-direction: column;
    }
}


.contact_section {


    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10%;
    gap: 2rem;
}

.contact_details {
    flex: 1;
}

.contact_item {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.contact_item img {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}

.contact_item p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #000;
}

.contact_item a {
    text-decoration: none;
    color: #000;
}

.map_container {
    flex: 1;
    max-width: 600px;
}

iframe {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    border: 2px solid #e0e0e0;
}

@media (max-width: 768px) {
    .contact_section {
        flex-direction: column;
        align-items: flex-start;
    }

    .map_container {
        width: 100%;
    }
}



.top_selling_products_sm {
    padding-left: 10px;
    padding-right: 10px;
}

.top_selling_products_sm h3{
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    font-weight: 700 !important;
}


@media (min-width: 577px) {
    .top_selling_products_sm {
        display: none;
    }
}

@media (max-width: 577px) {
    .top_selling_products_lg {
        display: none;
    }
}











/* whatsapp */


.floating_btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

@keyframes pulsing {
    to {
        box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
    }
}

.contact_icon {
    background-color: #42db87;
    color: #fff;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translatey(0px);
    animation: pulse 1.5s infinite;
    box-shadow: 0 0 0 0 #42db87;
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    font-weight: normal;
    font-family: sans-serif;
    text-decoration: none !important;
    transition: all 300ms ease-in-out;
}


.text_icon {
    margin-top: 8px;
    color: #000000;
    font-size: 13px;
}







/* floating call icon */


.floating_btn_call {
    position: fixed;
    bottom: 30px;
    left: 30px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

@keyframes pulsing {
    to {
        box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
    }
}

.contact_icon_call {
    background-color: #195836;
    color: #fff;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translatey(0px);
    animation: pulse 1.5s infinite;
    box-shadow: 0 0 0 0 #195836;
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    font-weight: normal;
    font-family: sans-serif;
    text-decoration: none !important;
    transition: all 300ms ease-in-out;
}


.text_icon_call {
    margin-top: 8px;
    color: #000000;
    font-size: 13px;
}

@media (min-width: 577px) {
    .floating_btn_call {
        display: none;
    }
}